body{
    width: 100%;

}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    left: 50%;
    place-items: center;
    text-align: center;
}
#p-one{
    float: left;
    padding: 10px;
}

#p-two{
    float: right;
    padding: 10px;
}

.players {
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 10px;
}


.gameboard {
    display: grid;
    min-width: 300px;
    max-width: 300px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding:10px;
    margin: auto;
    resize: none;
}

.square {
    padding: 10px;
    font-size: 50px;
    border: 1px solid black;
    text-align: center;
    min-width: 60px;
    height: 60px;
}

.square:hover {
    cursor: pointer;
}